html,
body {
    margin: 0;
    padding: 0;
    background: #eceae4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    html,
    body {
        background: #15140f;
    }
}

* {
    box-sizing: border-box;
}
